.sedes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.app {
    text-align: center;
}

.header {
    padding: 20px;
    background-color: #f4f4f4;
}

.header h1 {
    margin: 0;
}

.header p {
    margin: 10px 0 0;
}

.sede {
    margin: 20px;
    text-align: center;
}

.sede-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.sede-image:hover {
    transform: rotate(5deg);
}

.sede-direccion {
    margin-top: 10px;
    white-space: pre-line; /* Para respetar los saltos de línea en la dirección */
}

















































