


.lista-productos {
    display: grid;
    /* grid-column: 2; */
    /* grid-row: 2; */
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    /* background-color: red; */
    /* column-gap: 20px; */

}
.main-lista{
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 700px;
}



aside{
    min-width: 300px;
    height: 100%;
    background-color: rgba(217, 217, 217, 1);
}

.check-categoria{
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.check-categoria input[type="checkbox"]{
width: 30px;
height: 30px;
margin-left: 20px;
/* padding: 600px; */
}
h5{
  width: 100%;
  text-align: center;
}