


.lista-productos {
    display: grid;
    /* grid-column: 2; */
    /* grid-row: 2; */
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    /* background-color: red; */
    /* column-gap: 20px; */

}
.main-lista{
  display: grid;
  grid-template-columns: auto 1fr;
}



aside{
    min-width: 300px;
    height: 100%;
    background-color: red;
}

